.sign-in {
    width: 420px;
    display: flex;
    flex-direction: column;

    .tittle {
        margin: 10px 0px;
    }

    .buttons { 
        display: flex;
        justify-content: space-between;
    }
}
